@model List<Siparis>

<div class="container mt-4">
    <div class="mb-3">
        <h2>Siparişler</h2>

        <!-- Urun Listesi -->
        <table class="table table-striped align-middle" id="dataTable">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Kullanıcı</th>
                    <th>Ödeme Tutarı</th>
                    <th>İl</th>
                    <th>Sipariş Durumu</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Tarih.KisaTarihSaat()</td>
                    <td>@item.Kullanici.UserName</td>
                    <td>@item.OdemeTutari.ParaBirimi() TL</td>
                    <td>@item.Il</td>
                    <td>@item.Durum</td>
                    <td>
                        <a asp-action="SiparisDetay" asp-route-id="@item.Id" class="btn btn-outline-primary">Detay</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>