@model UrunViewModel

<div class="container mt-4">
    <div class="mb-3">

        <h2>Ürün Güncelle</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="UrunAdi"></label>
                <input asp-for="UrunAdi" value="@Model.UrunAdi" class="form-control">
                <span asp-validation-for="UrunAdi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="KategoriId"></label>
                <select asp-for="KategoriId" asp-items="@Model.Kategoriler" value="@Model.KategoriId"
                    class="form-select">
                    <option value="">Seçiniz</option>
                </select>
                <span asp-validation-for="KategoriId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fiyat"></label>
                <input asp-for="Fiyat" value="@Model.Fiyat" class="form-control">
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stok"></label>
                <input asp-for="Stok" value="@Model.Stok" class="form-control">
                <span asp-validation-for="Stok" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Resim"></label>
                <input asp-for="Resim" class="form-control">
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="hidden" asp-for="ResimAdi">
                <img src="@Model.ResimAdi.Goster()" style="height: 100px;" class="img-thumbnail" alt="">
                @if (@Model.ResimAdi != null)
                {
                    <button asp-action="ResimSil" asp-route-id="@Model.Id" class="btn btn-secondary btn-sm">Resim
                        Sil</button>
                }
            </div>
            <div class="mb-3">
                <label asp-for="Aciklama"></label>
                <textarea asp-for="Aciklama" class="form-control" id="editor">@Model.Aciklama</textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Tamam</button>

        </form>

    </div>
</div>