@model UrunViewModel

<div class="container mt-4">
    <div class="mb-3">

        <h2>Ürün Güncelle</h2>

       <div asp-validation-summary="All"></div>

        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="UrunAdi"></label>
                <input asp-for="UrunAdi" value="@Model.UrunAdi" class="form-control">
                <span asp-validation-for="UrunAdi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fiyat"></label>
                <input asp-for="Fiyat" value="@Model.Fiyat" class="form-control">
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stok"></label>
                <input asp-for="Stok" value="@Model.Stok" class="form-control">
                <span asp-validation-for="Stok" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Aciklama"></label>
                <textarea asp-for="Aciklama" class="form-control">@Model.Aciklama</textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EklenmeTarihi" value="@Model.EklenmeTarihi">
            <button type="submit" class="btn btn-primary">Tamam</button>

        </form>

    </div>
</div>