@model Urun

<!-- Icerik -->
    <div class="container mt-4">
        <div class="mb-3">
            <!-- Vitrin -->
            <div class="card mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid rounded-start" src="@Model.ResimAdi.Goster()" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title">@Model.UrunAdi</h2>
                            <p class="card-text small">@Model.Fiyat.ParaBirimi() TL</p>
                            <p>@Model.EklenmeTarihi.GecenZaman() eklendi</p>
                            <p class="card-text">@Html.Raw(Model.Aciklama.Bicimlendir())</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>