@model List<SepetUrunu>

<div class="container my-4">
    <h2>Alışveriş Sepeti</h2>

    @if (Model.Count == 0)
    {
        <div class="alert alert-danger">Sepetiniz Boş</div>
    }
    else
    {
        <table class="table table-bordered table-striped align-middle text-center">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Fiyat</th>
                    <th style="width:100px">Adet</th>
                    <th>Toplam</th>
                    <th style="width:100px"></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="d-md-flex align-items-center">
                            <img src="@item.ResimAdi.Goster()" alt="" style="height:100px">
                            <a asp-controller="Urun" asp-action="Detay" asp-route-id="@item.UrunId"
                                class="ms-2">@item.UrunAdi</a>
                        </div>
                    </td>
                    <td class="col-2 align-items-center">@item.Fiyat.ParaBirimi() TL</td>
                    <td>
                        <div class="input-group input-group-sm mx-auto">
                            <a class="btn btn-outline-secondary" type="button" asp-action="Azalt"
                                asp-route-id="@item.UrunId">-</a>
                            <input type="text" class="form-control text-center" value="@item.Adet">
                            <a class="btn btn-outline-secondary" type="button" asp-action="Arttir"
                                asp-route-id="@item.UrunId">+</a>
                        </div>
                    </td>
                    <td>@item.Toplam.ParaBirimi() TL</td>
                    <td>
                        <a class=" btn btn-danger btn-sm" asp-controller="Sepet" asp-action="SepettenSil"
                            asp-route-id="@item.UrunId">Sil</a>
                    </td>
                </tr>
            }
        </table>

        <h4 class="mb-3 text-end">Ödenecek Tutar: @Model.Sum(x => x.Toplam).ParaBirimi() TL</h4>
        <div class="text-end">
            <a class="btn btn-danger" asp-controller="Sepet" asp-action="SepetiBosalt">Sepeti Boşalt</a>
            <a class="btn btn-success" asp-controller="Sepet" asp-action="SiparisOnay">Siparişi Onayla</a>
        </div>
    }
</div>