@model SiparisOnayViewModel

<div class="container my-4">
    <h2>Siparişi Onayla</h2>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Sepet</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var item in Model.Siparis.SiparisUrunleri)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.UrunAdi</h6>
                            <small class="text-muted">@item.Adet x @item.Fiyat.ParaBirimi() TL</small>
                        </div>
                        <span class="text-muted">@item.Toplam.ParaBirimi() TL</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promosyon Kodu</h6>
                        <small>ORNEKKOD</small>
                    </div>
                    <span class="text-success">-10 TL</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <strong>Ödenecek Tutar</strong>
                    <strong>@Model.Siparis.OdemeTutari.ParaBirimi() TL</strong>
                </li>
                @{
                    var dolarKuru = Doviz.GetDolarKuru() * 1;
                    var odenecekTutarDolar = Model.Siparis.OdemeTutari / dolarKuru;
                }
                <li class="list-group-item d-flex justify-content-between">
                    <strong>TCMB Dolar Kuru: </strong>
                    <strpng>@dolarKuru.ParaBirimi() TL</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <strong>Ödenecek Tutar ($): </strong>
                    <strpng>@odenecekTutarDolar.ParaBirimi() $</strong>
                </li>
            </ul>

            <form method="post" class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control inputmask" id="PromosyonKodu"
                        data-inputmask="'mask':'AAAAA99'" placeholder="Promosyon Kodu">
                    <button type="submit" class="btn btn-secondary">Uygula</button>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Teslimat Adresi</h4>
            <form method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Siparis.AdSoyad">Ad Soyad</label>
                        <input type="text" class="form-control" asp-for="Siparis.AdSoyad" required>
                        <div class="text-danger"></div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Siparis.Telefon">Telefon</label>
                        <input type="text" class="form-control inputmask" asp-for="Siparis.Telefon"
                            data-inputmask="'mask':'(999) 999 99 99'" required>
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Siparis.Adres">Adres</label>
                    <input type="text" class="form-control" asp-for="Siparis.Adres" required>
                    <div class="text-danger"></div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Siparis.Il">İl</label>
                        <select class="form-select" id="iller" asp-for="Siparis.Il" asp-items="@Model.Iller"
                            asp-action="ActionName" required>
                            <option value="">Seçiniz...</option>
                        </select>
                        <div class="text-danger"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Siparis.Ilce">İlçe</label>
                        <select class="form-select" id="ilceler" asp-for="Siparis.Ilce" asp-items="@Model.Ilceler"
                            required>
                            <option value="">Seçiniz...</option>
                        </select>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Ödeme</h4>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="KartIsim">Kart üzerindeki isim</label>
                        <input type="text" class="form-control" id="KartIsim" required>
                        <div class="text-danger"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="KartNumara">Kredi kartı numarası</label>
                        <input type="text" class="form-control inputmask" id="KartNumara"
                            data-inputmask="'mask':'9999 9999 9999 9999'" required>
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="KartGecerlilik">Geçerlilik</label>
                        <input type="text" class="form-control inputmask" id="KartGecerlilik"
                            data-inputmask="'alias':'datetime','inputFormat':'mm/yy'" required>
                        <div class="text-danger"></div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="KartCvv">CVV</label>
                        <input type="text" class="form-control inputmask" id="KartCvv" data-inputmask="'mask':'999'"
                            required>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Ödeme Yap</button>
            </form>
        </div>
    </div>

</div>

@section Scriptler {
    <script src='~/js/jquery-3.7.0.min.js'></script>
    <script src="~/js/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".inputmask").inputmask();
        });     
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#iller').change(function () {
                var ilAdi = $(this).val();
                if (ilAdi != null && ilAdi != '') {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("IlceleriGetir", "Sepet")',
                        data: { ilAdi: ilAdi },
                        dataType: "JSON",
                        success: function (result) {
                            var ilceler = $("#ilceler");
                            ilceler.empty();
                            ilceler.append($("<option></option>").attr("value", "").html("Seçiniz..."));
                            $.each(result, function (index, item) {
                                ilceler.append($("<option></option>").attr("value", item.ilceAdi).html(item.ilceAdi));
                            });
                        }
                    });
                }
            });
        });
    </script>
}
